.go-to-maps {
    position: absolute;

    width: 24px;
    height: 24px;
    padding: 0;

    background-color: white;
    border: #141414 1px solid;
}

.go-to-maps > a {
    color: black;
    text-decoration: none;
}

.go-to-maps img {
    width: 20px;
    height: 20px;
}