.results-container {
    background-color: bisque;

    position: absolute;
    bottom: 40px; 
    
    /* So it doesn't block google maps buttons */

    right: 42px;

    display: flex;
    flex-direction: column-reverse;
    
    width: 140px;
    margin: 0 8px;
}

.search-button {
    position: absolute;
    bottom: 38px;
    right: 24px;

    padding: 0;
    width: 24px;
    height: 24px;
}

.search-button > img {
    width: 20px;
    height: 20px;
}

.results-container > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.result-item {
    padding: 2px;
}

.result-item:hover {
    background-color: slategray;
    color: white;
}