.results-container {
    background-color: rgb(247, 249, 249);

    position: absolute;
    top: 48px;

    display: flex;
    flex-direction: column;

    /* width: 190px; */
    z-index: 1;
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
}

.search-button {
    position: absolute;
    top: 24px;

    padding: 0;
    width: 24px;
    height: 24px;

    /* En el ultimo intento, la lupa estaba corrida unos 10px a la derecha del boton, saliendose de el */
    border: solid 1px black;
}

.search-button>img {
    width: 20px;
    height: 20px;
}

.results-container>ul {
    /* Largest is all the map, smallest is until the tag input */
    max-height: 320px;
    /* max-height: 285px; */

    overflow-y: auto;
    overflow-x: hidden;

    list-style: none;
    margin: 0;
    padding: 0;
}

/* Scrollbar of places list */

/* width */
.results-container>ul::-webkit-scrollbar {
    width: 6px;
}

/* Track */
/* .results-container>ul::-webkit-scrollbar-track {
    background: rgb();
} */

/* Handle */
.results-container>ul::-webkit-scrollbar-thumb {
    background: rgb(93, 109, 126);
}

/* Handle on hover */
.results-container>ul::-webkit-scrollbar-thumb:hover {
    background: rgb(94, 107, 72);
}

/* Scrollbar of places list */

.result-item {
    padding: 4px;
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
}

.result-item:hover {
    cursor: pointer;
    background-color: rgb(39, 83, 128);
    color: white;
}