 .label-input {
   position: absolute;
   left: 72px;

   height: 18px;
 }

.tag-button {
  position: absolute;
  left: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 24px;
  height: 24px;

  background-color: white;
  border: #141414 1px solid;
  border-left: none;
}

.tag-button>img {
  width: 20px;
  height: 20px;
}



