.find-button {
    position: absolute;
    z-index: 12;

    top: 24px;
    left: 24px;

    width: 24px;
    height: 24px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    border: #141414 1px solid;
    border-top: none;
    border-left: none;
}

.find-button > img {
    width: 20px;
    height: 20px;
}