.container {
    background-color: darkslategray;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.group-container {
    display: flex;
}

.map, .map-replacement {
    position: relative;
    display: flex;
}

.map-replacement {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.label {
    background-color: black;
    padding: 4px;
    border-radius: 6px;
}

.map-container {
    margin: 4px;
    border: black 1px solid;
}