.container {
    display: flex;
}

.map-container, .map-replacement {
    position: relative;

    width: 60vw;
    height: 60vh;
}

.map-replacement {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
}